* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #8ecae6;
    width: 200vw;
}

html {
    cursor: url("/assets/cafe.png"), auto;
}

::-webkit-scrollbar {
    height: 20px;
}

::-webkit-scrollbar-track {
    background: #219EBC;
}

::-webkit-scrollbar-thumb {
    background: #219EBC;
    border: #023047 solid 3px;
    border-radius: 1px;
}

::-webkit-scrollbar-thumb:hover {
    background: #1a7e96;
}


::-webkit-scrollbar-button {
    background: #023047;
}


.main-content {
    width: 200%;
}

.mesa-jogador {
    position: absolute;
    bottom: 0;
    background-color: #ff914d;
    margin: 0px 100px;
    height: 280px;
    width: 1600px;
    z-index: 5;
    display: flex;
}

#caderninho {
    position: absolute;
    height: 260px; /* Mudar depois para % */
    width: auto;
    cursor: pointer;
    z-index: 10;
    transform: translate(50px, -40px);
}

#caderninho:hover {

}

#menu-caderninho {
    position: fixed;
    display: none;
    left: 0;
    top: 0;
    z-index: 999;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    background: #00000080;
}


#jogador {
    position: absolute;
    height: 240px;
    width: auto;
    z-index: 10;
    transform: translate(360px, -120px);
    margin: 360px, 120px;
}

.close-button-img {
    height: 60px;
    width: auto;
    padding: 10px;
    color: white;
    left: 0;
    top: 0;
    position: absolute;
    cursor: pointer;
}

#kubo {
    position: absolute;
    height: 240px;
    width: auto;
}

#caderninho_aberto {
    height: 120%;
    width: auto;
}